input[type=button], select {
  background-color: #E1E1E1;
  border: 1px solid #ADADAD;
}

.block {
  margin-bottom: 1px;
  font-size: 12px;
  padding-left: 5px;
  margin-left: 20px;
  border-left: 1px dotted gray;
}

.block:hover {
  background-color: #0078D7;
  color: white;
}

.block-header::before, .block-title::before {
  content: "[-] ";
}

.block-category-list {
  border-left: 1px dotted gray;
  margin-left: 33px;
}

.block-header {
  font-weight: normal;
  margin-left: 28px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}

.block-title {
  margin-left: 10px;
  font-weight: normal;
  font-size: 12px;
}

#block-list {
   width: 200px;
   overflow: auto;
}

main, #tab-list-container {
  width: calc(100% - 201px);
}

.checkbox-group {
  border: none;
  overflow: auto;
  border: 1px solid gray;
  background-color: white;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 14px;
}

.property-container {
  border: none;
  font-size: 0.75em;
  margin-top: 0px;
  margin-bottom: 0px;
/*  padding-top: 10px;*/
  padding-bottom: 10px;
}

 #block-properties-container {
   left: 35%;
   right: 35%;
   padding-top: 40px;
 }

 #block-properties-caption {
   display: none;
 }

 #block-properties-buttons {
   position: absolute;
   border: none;
   top: 0;
   left: 0;
   width: 100%;
   text-align: center;
 }

 #block-properties-buttons input {
   width: 48%;
 }
