body {
  user-select: none;
}

#block-list {
  float: left;
  display: inline-block;
  width: 250px;
  height: calc(100vh - 1px);
  border-right: 1px solid lightgray;
  overflow-x: hidden;
  overflow-y: auto;
}

.block, .block-header, .block-title {
  display: block;
  font-size: 0.85em;
}

.block-title {
  font-weight: bold;
  padding-left: 5px;
  margin-top: 5px;

}

.block-header {
  font-weight: bold;
  margin-top: 5px;
  margin-left: 10px;
}

.block {
  cursor: pointer;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.block:hover {
  background-color: lightgray;
}

#tab-list {
  margin-left: -5px;
  display: inline-block;
  height: 25px;
  max-width: calc(100% - 40px);
  overflow: hidden;
}

#tab-list-container {
  float: right;
  display: inline-block;
  width: calc(100% - 251px);
  height: 25px;
  border-bottom: 1px solid lightgray;
}

.tab-element, #new-tab {
  display: inline-block;
  font-size: 0.8em;
  height: 25px;
  line-height: calc(25px);
  min-width: 100px;
  max-width: 250px;
  overflow-x: hidden;
  border-right: 1px solid lightgray;
  text-align: center;
  cursor: pointer;
  color: gray;
}

.tab-element {
  padding-left: 10px;
  padding-right: 10px;
}

.tab-input {
  outline: none;
  border: none;
  background-color: transparent;
  /*height: 100%;*/
  width: 90px;
  padding-left: 10px;
}

#new-tab {
  min-width: 30px;
  width: 30px;
}

.tab-unsaved {
  font-style: italic;
}

.tab-selected {
  background-color: lightgray;
  color: black;
}

main {
  float: right;
  display: inline-block;
  overflow: hidden;
  width: calc(100% - 251px);
  height: calc(100vh - 26px);
}

#quick-access-bar-background, #block-properties-background, #about-background {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

#quick-access-bar-container, #block-properties-container {
  cursor: default;
  padding: 10px;
  position: fixed;
  top: 10%;
  left: 33%;
  right: 33%;
  background-color: white;
  border-radius: 1px;
  border: 1px solid lightgray;
}

#block-properties-container {
  left: 30%;
  right: 30%;
  max-height: 70%;
  overflow: auto;
}

#quick-access-bar-input {
  display: block;
  margin-top: 10px;
  width: calc(100% - 10px);
  padding: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

#quick-access-bar-results {
  margin-top: 20px;
  max-height: 300px;
  overflow-x: auto;
}

.quick-access-bar-result {
  box-sizing: border-box;
  border-radius: 1px;
  width: calc(100% - 10px);
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #aaa;
  border-top: none;
  background-color: white;
  cursor: pointer;
}

.quick-access-bar-result:hover, .quick-access-bar-result.selected {
  background-color: lightgray;
}

.quick-access-bar-result:first-child {
  border-top: 1px solid #aaa;
}

.quick-access-bar-result-character-match {
  font-weight: bold;
/*  color: #61AFEF;*/
}

.property-label {
  display: inline-block;
  width: calc(40% - 5px);
  vertical-align: middle;
}

#block-properties-caption {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.checkbox-group {
  display: inline-block;
  width: calc(60% - 8px);
  vertical-align: top;
  border: 1px solid lightgray;
}

.property-checkbox {
  margin-right: 10px;
}

.property-container {
  border-top: 1px solid lightgray;
  margin-bottom: 10px;
  margin-top: 5px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.property-textarea {
  vertical-align: top;
}

#block-properties-buttons {
  border-top: 1px solid lightgray;
  margin-top: 5px;
  padding-top: 10px;
  text-align: right;
}

.property-select, .property-input, .property-textarea {
  width: 55%;
  box-sizing: border-box;
}

.quick-access-shortcut {
  float: right;
  margin-top: -5px;
}

.shortcut-background {
  display: inline-block;
  padding: 5px;
  font-size: 0.8em;
  background-color: #eee;
  border-radius: 2px;
}

#search-container {
  position: fixed;
  right: 30px;
  top: 40px;
  width: 300px;
  border-radius: 1px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  background-color: #eee;
  box-shadow: 1px 1px 1px lightgray;
}

#search-block-text {
  display: block;
  width: calc(100% - 10px);
  padding: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

#search-result, #no-search-result {
  margin-top: 5px;
  display: inline-block;
  color: #666;
}

#search-caption {
  display: inline-block;
  color: #666;
  margin-bottom: 5px;
}

#search-result-current, #search-result-total {
  font-weight: bold;
}

#about {
  cursor: default;
  padding: 10px;
  position: fixed;
  top: 10%;
  left: 20%;
  right: 20%;
  background-color: white;
  border-radius: 1px;
  border: 1px solid lightgray;
  max-height: 80%;
  overflow: auto;
}

#about label {
  display: inline-block;
  width: 150px;
  height: 30px;
}
