#block-list {
  background-color: #21252B;
  color: #949BAA;
  border-right: 1px solid black;
}

input, textarea, option, select {
  border: none;
  background-color: #1B1D23;
  color: white;
  padding: 5px;
  box-sizing: border-box;
  vertical-align: middle;
}

select, option {
  background-color: #373C47;
  cursor: pointer;
}

option {
  padding: 10px;
  margin: 20px;
}

input[type=checkbox] {
  cursor: pointer;
  padding: 7px;
  -webkit-appearance: none;
}

input[type=checkbox]:checked {
   background: #949BAA;
}

input[type=button], button {
  padding: 10px;
  width: 100px;
  cursor: pointer;
  background-color: #373D48;
}

.block-header, .block-title {
  color: white;
}

.block:hover {
  background-color: #3A3F4B;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

#tab-list-container {
  background-color: #21252B;
  color: #D7DAE0;
  border-bottom: 1px solid black;
}

.tab-element, #new-tab {
  border-right: 1px solid black;
}

.tab-selected {
  color: white;
  background-color: #282C34;
}

#quick-access-bar-background, #block-properties-background, #about-background {
  background-color: rgba(0, 0, 0, 0.5);
}

#quick-access-bar-container, #block-properties-container {
  color: white;
  background-color: #252830;
  border: 1px solid #222;
}

#quick-access-bar-input {
/*  border: none;
  background-color: #111;
  color: white;*/
}

#quick-access-bar-results {

}

.quick-access-bar-result {
  border: 1px solid #111;
  border-top: none;
  background-color: #21252B;
}

.quick-access-bar-result:hover, .quick-access-bar-result.selected {
  background-color: #3E4551;
}

.quick-access-bar-result:first-child {
  border-top: 1px solid #111;
}

.quick-access-bar-result-character-match {
  font-weight: bold;
  color: #759EF2;
/*  color: #61AFEF;*/
}

.tab-input {
  color: white;
}

.property-container, #block-properties-buttons {
  border-top: none;
}

.checkbox-group {
  border: none;
  overflow: auto;
  background-color: #373C47;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.shortcut-background {
  background-color: #373C47;
}

#search-container {
  background-color: #21252B;
  box-shadow: 1px 1px 1px #111;
}

#search-result, #no-search-result {
  color: white;
}

#no-search-result {
  font-weight: bold;
  color: #EE4444;
}

#search-result-current, #search-result-total {
  font-weight: bold;
  color: #66AF80;
}

.important {
  color: #66AF80;
}

#about .shortcut-background {

}

#about {
  color: #EFEFEF;
  background-color: #282C34;
  border: 1px solid #222;
}

#about label {
  height: 40px;
}
